
body{
  min-height: 100vh;
}


.App {
  text-align: center;
  margin-top: 5px;
  
}

.header{
  margin-top: 10px;
  margin-bottom: 10px;
}


.searchblock{
  display: flex;
  box-shadow: #282c34;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  
}

.search {
  box-shadow: #282c34;
}

.btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin-top: 3px;
  margin-left: 2px;
  padding: 10px 24px;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.btn:hover{
  background-color: #04AA6D;
  box-shadow: #282c34;
}

.blockandtransaction{
 
  align-items: top;
}

.top-nav {
  background-color: #f1f1f1;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.nav-left {
  display: flex;
}

.nav-btn{
  background: none;
  font-size: large;
  border: none;
}

.nav-btn:hover{
  background:  #04AA6D;
  border: thin black;
  border-radius: 5px;
}

.nav-right {
  display: flex;
}
#outlined-basic{
  size: 100px;
}

TextField{
  padding: 6px;
  border-radius: 4px;
  margin-right: 5px;
}

.footer{
  text-align: center;
}
.footer p{
 color: black;
}