.tableGeneric {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-top: 15px;
    width: 100%;
  }
  
  .tableGeneric td, .tableGeneric th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .tableGeneric tr:nth-child(even){background-color: #f2f2f2;}
  
  .tableGeneric tr:hover {background-color: #ddd;}
  
  .tableGeneric th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .communityclass{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .com-container{
    display: flex;
    text-align: center;

  }

  .btn-com{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin-left: 2px;
  padding: 10px 24px;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
    margin-Top: 9px
  }
  .btn-com:hover{
    background-color: #04AA6D;
    box-shadow: #282c34;
  }

 