
body{
  min-height: 100vh;
  padding-left: 5px;
  padding-right: 5px;
}


.App {
  text-align: center;
  margin-top: 5px;
  
}

.header{
  margin-bottom: 10px;
  width: 100%;
  top: 0;
  z-index: 2;
  position: fixed;
  left: 0;
}


.searchblock{
  display: flex;
  box-shadow: #282c34;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  
}

.search {
  box-shadow: #282c34;
}

.btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin-top: 3px;
  margin-left: 2px;
  padding: 10px 24px;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.btn:hover{
  background-color: #04AA6D;
  box-shadow: #282c34;
}

.blockandtransaction{
 
  align-items: top;
  display: flex;
  justify-content: space-evenly;
}

.top-nav {
  background-color: #f1f1f1;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.nav-left {
  display: flex;
}

.nav-btn{
  background: none;
  font-size: large;
  border: none;
}

.nav-btn:hover{
  background:  #04AA6D;
  border: thin black;
  border-radius: 5px;
}

.nav-right {
  display: flex;
}
#outlined-basic{
  size: 100px;
}

input{
  height: 2px !important;
}


.footer{
  text-align: center;
  margin-bottom: 10px;
}
.footer p{
 color: black;
}
.Block-Withness{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center; 
  
}
.Block-Withnessscedule{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
}

.component{
  margin-left: 20px;
}

.Transactions-table{
  display: flex;
  justify-content: center;
  
}
.search{
  display: flex;
  justify-content: flex-start;
}


.mobile-drawer{
  display: none;
  
}

@media (max-width: 400px) {
  .top-nav{
    display: flex;
    flex-direction: column;

  }

  .Block-Withness{
    display: flex;
    justify-content: flex-start;
    margin-left: 90px; 
    text-align: center;
    overflow: auto;   
  }
  .Block-Withnessscedule{
    display: flex;
    justify-content: flex-start;
   
    text-align: center;
    overflow: auto; 
  }

  .Transactions-table{
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
    text-align: center;
    overflow: auto;
    
  }
  .search{
        display: flex;
        justify-content: flex-start;
        padding-left: 5px;
        text-align: center;
        overflow: auto;
  }

  .statdiv{
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .blockandtransaction{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .nav-right{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-left {
    display: none;
  }
  .mobile-drawer{ 
    display: block;
    margin-left: auto;
    text-decoration: none;
  }
  .mobile-nav-drawer{
    display: flex;
    box-shadow: 5px black;
    border-radius: 10px;
    width: 100%;
    flex-direction: column;
    align-items: end;
  }
  .nav-btn{
    background: none;
    background-color:#4CAF50 ;
    border-radius: 15px;
    font-size: large;
    border: #282c34;
  }
  .dash {
    width: 20px;
    height: 2px;
    background-color: #000;
    border-radius: 25px;
    margin: 7px;
  }
  
  
  .nav-btn:hover{
    background:  #4CAF50;
    border: 2px thin black;
    border-radius: 5px;
  }

  
}

.statdiv{
  display: flex;
}
